* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    font-family: MarkGEO, sans-serif;
}

@font-face {
    font-family: MarkGEO;
    src: url(./fonts/MarkGEO-Regular.woff2);
}

@font-face {
    font-family: MarkGEOBold;
    src: url(./fonts/MarkGEOCAPS-SemiBold.woff2);
}

@font-face {
    font-family: MarkGEOMenu;
    src: url(./fonts/MarkGEO-Medium.woff2);
}

@font-face {
    font-family: MarkGEOContent;
    src: url(./fonts/MarkGEOCAPS-Light.woff2);
}


:root {
    --background-color: #091a2b;
    --header-icons-color: rgba(255, 255, 255, 0.78);
    --slider-overlay: linear-gradient(to bottom, rgba(43, 25, 25, 0.3), #2b1919);
    --orange-color: #fb8d04;
    --input-orange: #fc6719;
    --top-header-menu:#bdc2c6;
    --menu-background:#2b3a48;
    --text-color:rgba(255, 255, 255, 0.9);
    --input-background:#1c2b3b;
    --border:#b1b1b1;
    --input-border:rgba(255, 255, 255, 0.3);
    --footer-language:rgba(255, 255, 255, 0.03);
    --dark-border: #2b3948;
}

.container {
    width: 1296px;
    margin: auto;
}

/* top header styles */
.top-header-section{
    background-color: var(--background-color);
    height: 78px;
}

.top-header{
    padding-top: 20px;
    display: flex;
}

.top-header-menu ul{
    display: flex;
    padding-top: 8px;
    margin-right: 150px;
    margin-left: 5px;
}


.top-header-menu-item{
    align-items: center;
    text-decoration: none;
    margin-right: 25px;
    color: var(--top-header-menu);
    font-size: 14px;
}


.top-header-icons{
    display: flex;
    margin-right: 25px;
    margin-top: -5px;
}

.top-header-icons svg{
    color: var(--header-icons-color);
    margin-right: 25px;
}

.top-header-buttons{
    display: flex;
}

.top-header-buttons svg{
    color: white;
    border-radius: 50%;
    background-color: var(--orange-color);
    padding: 5px;
    margin-right: 5px;
}


.ibank{
    font-size: 12px;
    color: var(--orange-color);
    margin-top: 15px;
    font-weight: 500; 
    padding: 3px;
}

.language {
    margin-top: 11px;
    margin-left: 50px;
    padding: 3px;
}

.language a{
    color: var(--header-icons-color);
    font-weight: 500;
    font-size: 13px;
}


.be-solo {
    margin-top: 5px;
    margin-left: 25px;
    width: 125px;
    height: 32px;
    background-color: var(--orange-color);
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 3px;
}

.be-solo a span{
    color: var(--header-icons-color);
    font-size: 12px;
    font-weight: 500;
    font-family: "MarkGEOBold";
}




/* menu styles */
.menu-section{
    height: 58px;
    background-color: var(--menu-background);
}


.menu ul{
    display: flex;
    padding-top: 20px;
    margin-left: -45px;

}

.menu ul li{
    padding-right: 30px;
    font-weight: 500;
    font-size: 14px;
    font-family: "MarkGEOMenu";
}

.menu ul li a{
    color: var(--text-color);
}




/* slider styles */
.slider-section{
    background-color: var(--background-color);
    height: 510px;
}

.slider{
    padding-top: 65px;
}

.slider-title{
    height: 50px;
    color: white;
}

.slider-title h2{
    font-family: "MarkGEOBold";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}

.slider-img{
    height: 300px;
    background-image: url(./imgs/slider.png);
    margin-top: 32px;
    border-radius: 10px;
    position: relative;
}

.overlay{
    background-image: var(--slider-overlay);
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 100px;
    border-radius: 10px;

}


h4{
    font-weight: bold;
    font-size: 24px;
    font-family: "MarkGEOMenu";
    color: white;
    margin-left: 40px;
    margin-bottom: 35px;
}

.slider-button a{
    background-color: var(--orange-color);
    color: white;
    margin-left: 40px;
    font-family: "MarkGEOBold";
    border-radius: 2px;
    padding: 8px;
    font-size: 12px;
}




/* content header styles */
.content-section{
    background-color: var(--background-color);
}

.content-header{
    display: flex;
    justify-content: space-between;
}


.content-title h4{
    font-size: 18px;
    font-family: "MarkGEOMenu";
    font-weight: bold;
    margin-left: 0;
}

.content-filter{
    display: flex;
}


.input{
    caret-color: var(--input-orange);
    outline: none;
    background-color: var(--input-background);
    width: 50%;
    white-space: nowrap;
    height: 40px;
    padding: 16px 24px;
    border-radius: 50px;
    color: #5a6670;
    margin-right: 30px;
}

.order{
    border-radius: 2px;
    font-size: 14px;
    color: white;
    padding: 8px 16px;
    height: 40px;
    width: 250px;
    border: 1px solid var(--dark-border);
}



/* content left side styles */
.content{
    display: flex;
}


.content-filters{
    margin-bottom: 24px;
    width: 236px;
    padding-top: 8px;
    padding-bottom: 32px;
    margin-right: 32px;
}

.filters{
    border: 1px solid var(--border);
    background-color: var(--input-background);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 32px;
    padding-right: 20px;
}

.district-input{
    caret-color: var(--input-orange);
    outline: none;
    background-color: #111923;
    width: 70%;
    white-space: nowrap;
    height: 20px;
    padding: 16px;
    border-radius: 50px;
    color: #5a6670;
}

#district{
    height: 205px;
    overflow: scroll;
    overflow-x: hidden; 
    
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #bdc2c6;
  }

.content-filters span{
    font-weight: 500;
    color: var(--text-color);
    font-family: "MarkGEO";
    font-size: 12px;
}

#filter-title{
    color: #8b8b8b;
    margin-left: 32px;
    font-size: 13px;
}

.content-filters input{
    accent-color: var(--input-orange);
    margin-top: 15px;
    margin-right: 8px;
    margin-left: 32px;
    border-radius: 2px;
    border:2px solid var(--input-border);
}


.square-inputs{
    display: flex;
}

.square-input{
    caret-color: var(--input-orange);
    outline: none;
    background-color: #111923;
    width: 30%;
    white-space: nowrap;
    height: 20px;
    padding: 16px;
    border-radius: 50px;
    color: #5a6670;
}


.years{
    margin-top:25px;
}



/* content item styles */

.content-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-gap: 32px;
    height: 1120px;
}

.content-item{
    border-radius: 4px;
    border: 1px solid var(--dark-border);

    padding: 24px;
    position: relative;
    width: 320px;
    height: 350px;
}

.content-item img{
    margin-bottom: 8px;
    height: 165px;
}

.text-content-title{
    color: var(--text-color);
    font-family: "MarkGEO";
    font-size: 14px;
}

.text-content-offer{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

.text-content-desc{
    font-size: 14px;
    color: #8b8b8b;
}

.content-link{
    color: var(--orange-color);
    font-size: 14px;
}




/* footer styles */
.footer-section{
    background-color: var(--background-color);
    height: 78px;
}

.footer{
    border-top: 2px solid  var(--dark-border);
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.footer img{
    width: 92px;
    margin-left: 40px;
}

.footer-title{
    color: white;
    font-size: 14px;
}

.footer-language{
    background-color: var(--footer-language);
    border-radius: 2px;
    color: white;
    font-size: 14px;
    margin-right: 40px;
    padding: 10px 10px 10px;
    margin-top: -10px;
}



/* hovers */
.menu ul li a:hover{
    color: white;
}

.order:hover{
    border: 1px solid var(--input-border);
}

.content-item:hover{
        background-color: var(--input-background);

}

/* actives */
.active-top-header-menu{
    color: var(--orange-color);
}







